<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- css -->
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/category.css">
    <link rel="stylesheet" href="../../css/cart.css">
    <link rel="stylesheet" href="../../css/numberquantity.css">
    <link rel="stylesheet" href="../../css/reponsive.css">
    <title>Xác nhận thanh toán </title>
</head>

<body>
    <!-- header -->
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" href="#">CNT Phone</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between align-items-center">
                        <li class="nav-item">
                            <form class="d-flex nav-link" role="search">
                                <div class="group">
                                    <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                                        <g>
                                            <path
                                                d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                            </path>
                                        </g>
                                    </svg>
                                    <input placeholder="Search" type="search" class="input">
                                    <input type="submit" style="display: none;">
                                </div>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="#">
                                <div class="box-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.83 30.94" width="24"
                                        height="24">
                                        <defs></defs>
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="Layer_1-2" data-name="Layer 1">
                                                <path
                                                    d="M6.78,20.27a31,31,0,0,0,10.29,8.06A15.91,15.91,0,0,0,22.82,30h.41a4.77,4.77,0,0,0,3.7-1.59,0,0,0,0,0,0,0,14.62,14.62,0,0,1,1.17-1.2c.28-.28.57-.56.85-.85A2.91,2.91,0,0,0,29,22L25.33,18.4a2.94,2.94,0,0,0-2.13-1,3.07,3.07,0,0,0-2.15,1l-2.16,2.17c-.2-.12-.4-.22-.6-.32a6.74,6.74,0,0,1-.66-.36,22.82,22.82,0,0,1-5.47-5A13.11,13.11,0,0,1,10.32,12c.56-.52,1.09-1.05,1.61-1.58l.55-.56a3.07,3.07,0,0,0,1-2.17,3.08,3.08,0,0,0-1-2.18l-1.8-1.8L10.07,3c-.4-.41-.82-.83-1.23-1.21A3,3,0,0,0,6.72.9a3.07,3.07,0,0,0-2.15.94L2.31,4.09a4.64,4.64,0,0,0-1.38,3,11.09,11.09,0,0,0,.84,4.83,28.11,28.11,0,0,0,5,8.37Z"
                                                    class="cls-1"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <p>Gọi mua hàng <br>
                                    1900.123.456
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="#">
                                <div class="box-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.22 25.85" height="24">
                                        <defs>
                                            <style>
                                                .cls-1,
                                                .cls-2,
                                                .cls-3 {
                                                    fill: none;
                                                    stroke: #fff;
                                                    stroke-linecap: round;
                                                    stroke-linejoin: round;
                                                }

                                                .cls-1 {
                                                    stroke-width: 1.66px;
                                                }

                                                .cls-2 {
                                                    stroke-width: 1.66px;
                                                }

                                                .cls-3 {
                                                    stroke-width: 1.8px;
                                                }
                                            </style>
                                        </defs>
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="Layer_1-2" data-name="Layer 1">
                                                <circle cx="7.66" cy="22.02" r="3" class="cls-1"></circle>
                                                <circle cx="24.79" cy="22.02" r="3" class="cls-1"></circle>
                                                <path d="M28.61,22h4.13a1.44,1.44,0,0,0,1.44-1.44v-6" class="cls-3">
                                                </path>
                                                <path
                                                    d="M27.12.9H14.82a1.44,1.44,0,0,0-1.44,1.44V20.58A1.44,1.44,0,0,0,14.82,22h6.29"
                                                    class="cls-3"></path>
                                                <path
                                                    d="M10.27,5.92H6.75A2.65,2.65,0,0,0,4.54,7.11L1.33,12A2.64,2.64,0,0,0,.9,13.47v6.46A2.1,2.1,0,0,0,3,22h.75"
                                                    class="cls-3"></path>
                                                <path d="M34.18,3.47V2.34A1.44,1.44,0,0,0,32.74.9H25.08" class="cls-3">
                                                </path>
                                                <line x1="43.32" y1="6.97" x2="32.57" y2="6.97" class="cls-3"></line>
                                                <line x1="40.5" y1="11.05" x2="32.57" y2="11.05" class="cls-3"></line>
                                                <line x1="42.09" y1="16.33" x2="38.07" y2="16.33" class="cls-3"></line>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <p>Tra cứu <br>
                                    đơn hàng
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="#">
                                <div class="box-icon cart">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.95 35.07" width="25"
                                        height="25">
                                        <defs>
                                        </defs>
                                        <g id="Layer_2" data-name="Layer 2">
                                            <g id="Layer_1-2" data-name="Layer 1">
                                                <path
                                                    d="M10,10.54V5.35A4.44,4.44,0,0,1,14.47.9h0a4.45,4.45,0,0,1,4.45,4.45v5.19"
                                                    class="cls-1">
                                                </path>
                                                <path
                                                    d="M23.47,34.17h-18A4.58,4.58,0,0,1,.91,29.24L2.5,8.78A1.44,1.44,0,0,1,3.94,7.46H25a1.43,1.43,0,0,1,1.43,1.32L28,29.24A4.57,4.57,0,0,1,23.47,34.17Z"
                                                    class="cls-1"></path>
                                            </g>
                                        </g>
                                    </svg>
                                    <span id="items_in_cart">1</span>
                                </div>
                                <p>Giỏ hàng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="#">
                                <div class="box-icon">
                                    <svg data-v-1f99d9e4="" width="22" height="22" viewBox="0 0 22 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path data-v-1f99d9e4=""
                                            d="M20.1663 11C20.1663 5.93743 16.0623 1.83337 10.9997 1.83337C5.93706 1.83337 1.83301 5.93743 1.83301 11C1.83301 16.0627 5.93706 20.1667 10.9997 20.1667C16.0623 20.1667 20.1663 16.0627 20.1663 11Z"
                                            stroke="white" stroke-width="1.5"></path>
                                        <path data-v-1f99d9e4=""
                                            d="M13.75 9.16675C13.75 10.6855 12.5188 11.9167 11 11.9167C9.48124 11.9167 8.25 10.6855 8.25 9.16675C8.25 7.64796 9.48124 6.41675 11 6.41675C12.5188 6.41675 13.75 7.64796 13.75 9.16675Z"
                                            stroke="white" stroke-width="1.5"></path>
                                        <path data-v-1f99d9e4=""
                                            d="M16.5 18.3334C16.5 16.3084 14.0376 14.6667 11 14.6667C7.96243 14.6667 5.5 16.3084 5.5 18.3334"
                                            stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>
                                </div>
                                <p>Đăng nhập</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- hết phần header -->

    <!-- phần main -->
    <main class="container">
        <div class="mt-4">
            <h5 class="fw-bold text-center"> Thanh Toán</h5>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="fw-bold text-center">Thông tin giao hàng</h5>
                        </div>
                        <div class="card-body">
                            <form action="">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Họ và tên</label>
                                    <input type="text" class="form-control" id="name" readonly value="Nguyễn Xuân Cường">
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Số điện thoại</label>
                                    <input type="text" class="form-control" id="phone" readonly value="0983052219">
                                </div>
                                <div class="mb-3">
                                    <label for="address" class="form-label">Địa chỉ</label>
                                    <input type="text" class="form-control" id="address" readonly value="Học viện Nông nghiệp việt nam">
                                </div>
                                <div class="mb-3">
                                    <label for="note" class="form-label">Ghi chú</label>
                                    <textarea class="form-control" id="note" rows="3"></textarea>
                                </div>
                                <input type="hidden" name="product" value="iPhone 13 Pro Max">
                                <input type="hidden" name="quantity" value="1">
                                <input type="hidden" name="price" value="33.990.000đ">
                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="fw-bold text-center">Đơn hàng</h5>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Sản phẩm</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Đơn giá</th>
                                        <th scope="col">Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>iPhone 13 Pro Max</td>
                                        <td>1</td>
                                        <td>33.990.000đ</td>
                                        <td>33.990.000đ</td>
                                    </tr>
                                    <tr>
                                        <td>iPhone 13 Pro Max</td>
                                        <td>1</td>
                                        <td>33.990.000đ</td>
                                        <td>33.990.000đ</td>
                                    </tr>
                                    <!-- New row for total -->
                                    <tr>
                                        <td colspan="3" class="text-start"><strong>Tổng tiền:</strong></td>
                                        <td><strong>67.980.000đ</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    </main>
    <!-- hết phần main -->


    <!-- back-top -->
    <div id="back-top" style="opacity: 1;">
        <i class="fa-solid fa-angles-up"></i>
    </div>
    <!-- hết back-top -->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="../../js/index.js"></script>

</html>